* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@font-face {
  src: url("./font/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf");
  font-family: "ig";
}
:root {
  --text-secondary: #374151;
}
::-webkit-scrollbar {
  width: 0;
}
.container {
  display: flex;
}
.col {
  height: 100vh;
}
.left {
  width: 30rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.center {
  width: 100%;
  background-color: #fafafafa;
  overflow-y: scroll;
}
.right {
  width: 30rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.nav {
  width: 100%;
  background-color: #f8fafc;
  border-bottom: 1px solid #64748b;
  padding: 10px;
  position: sticky;
  top: 0;
}
.nav-main {
  display: flex;
}
.logo {
  width: 30rem;
}
.logo span {
  font-family: "ig";
  letter-spacing: 4px;
  font-size: 1.2em;
}
.search {
  width: 100%;
}
.menu {
  width: 20rem;
}
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: start;
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-center {
  justify-content: center;
}
.search-box {
  width: 450px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 31px;
}
.search-box input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 20px;
}
.search-btn {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}
.menu-icon {
  padding: 10px;
  border-radius: 50%;
  border: 1px solid;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
/* Flex direction */
.flex-direction-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}

.text-secondary {
  color: var(--text-secondary);
}
/* Left */
.left-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #dc2626;
}
/* Story Circle */
.story-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #dc2626;
}

.btn {
  border: none;
  padding: 10px;
}
.bg-white {
  background-color: #fff;
}
.bg-transparent {
  background-color: transparent;
}
.rounded-pill {
  border-radius: 200px;
}
/* post-img */
.post-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}
.post-comment-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post-comment-box {
  border: 1px solid;
  border-radius: 200px;
  width: 100%;
}
.post-comment-box input {
  border: none;
  background-color: transparent;
  padding: 5px;
}
.post-comment-box input:focus {
  outline: none;
}
.trending-feeds {
  column-count: 2;
  column-gap: 5px;
}
.tf-img {
  border-radius: 10px;
}
.sug-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.left-menu {
  list-style: none;
}
.menu-list-item {
  padding-left: 35px;
  border-left: 5px solid #fff;
  padding-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.menu-list-item.active {
  border-color: #fe446c;
  color: #fe446c;
}

.menu-list-item:hover {
  border-color: #fe446c;
  color: #fe446c;
}
.menu-list-item i,
.menu-list-item span {
  transition: 0.3s;
}
.menu-list-item:hover i {
  color: #fe446c;
}
.menu-list-item:hover span {
  color: #fe446c;
}
.fw-bold {
  font-weight: bold;
}
.ms-1 {
  padding-left: 10px;
}
.me-1 {
  padding-right: 10px;
}
.me-2 {
  margin-right: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-2 {
  padding: 20px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.px-5 {
  padding-left: 50px;
  padding-right: 50px;
}
.px-6 {
  padding-left: 60px;
  padding-right: 60px;
}
.px-9 {
  padding-left: 90px;
  padding-right: 90px;
}
.px-7 {
  padding-left: 70px;
  padding-right: 70px;
}
